@use "./partials/typography.scss" as *;
@use "./partials/variables.scss" as *;
@use "./partials/mixins.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $font;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover {
    color: $hover;
  }
}

body {
  // padding: 1rem;
  background-color: $primary-background-color-1;
  font-family: Inconsolata;
  font-weight: 400;
}
.nav-container {
  padding-bottom: 2rem;
  @media (max-width: 768px) {
    border-bottom: 1px solid white;
  }
  border: none;
  display: flex;
  justify-content: center;
  width: 100%;
  // margin-bottom: 2rem;
}

.nav {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  &__logo {
    @media (max-width: 768px) {
      margin-left: auto;
    }
    font-size: 2rem;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $font;
    padding-bottom: 0.5rem;
  }

  &__logo-text {
    font-family: Pacifico;
    margin-bottom: 0.5rem;
    color: $font;
    @media (min-width: 768px) {
      font-size: 5rem;
    }
    @media (min-width: 1280px) {
      font-size: 7rem;
    }

    &--photography {
      font-size: 1rem;
      color: $font;
    }
  }

  &__links {
    display: flex;
    text-decoration-line: none;
    text-transform: lowercase;

    &--item {
      margin: 0 5.5rem;
      @media (min-width: 1280px) {
        margin: 0 10rem;
      }
    }
  }

  &__toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 30px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    z-index: 100;
    &:hover {
      width: 25px; // Adjust as needed
      transition: width 0.1s ease; // Smooth transition
      color: $hover;
    }

    &-bar {
      position: relative;
      width: 100%;
      height: 2px;
      background-color: $font;
    }
  }
}

@media (max-width: 768px) {
  .nav {
    &__links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;

      left: 0;
      background-color: $primary-background-color-1;
      align-items: left;

      &.nav__links--active {
        text-transform: uppercase;
        display: flex;
        font-size: 1rem;
        border-top: 1px solid white; // Border on the top side
        border-left: 1px solid white; // Border on the left side
        border-bottom: 1px solid white; // Border on the bottom side
        margin-left: 7rem;
        margin-top: 3rem;
        padding-left: 1rem;
      }

      &--item {
        margin: 0.5rem 0;
      }
    }

    &__toggle {
      margin-top: 1rem;
      display: flex;
    }
  }
}

.hero {
  margin: auto;
  display: flex;
  // margin-left: 3rem;
  align-items: center;
  justify-content: center;
  &__container {
    &--image {
      // width: 50%;
    }
  }
  &__title {
    min-width: 15rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 2rem; /* Adjust font size as needed */
    text-align: center;
    z-index: 1; /* Ensure title appears above image */
  }
}
