@use "./variables" as *;

@mixin title {
	margin: 1.5rem 0 1rem 0rem;
	font-weight: 600;
	font-size: 2.5rem;
	color: $primary-text-color-1;
}
@mixin logo {
	width: 120px;
}
@mixin paragraph {
	margin: 0;
	line-height: 1.5rem;
}

@mixin tablet {
	@media (min-width: 768px) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: 1280px) {
		@content;
	}
}
@mixin heroOverlay {
	background-color: $primary-background-color-1;
	opacity: 50%;
}
@mixin greyScaleHover {
	filter: grayscale(100%);
	transition: filter 0.3s ease-in-out;
	&:hover {
		filter: grayscale(0);
	}
}
