$primary-background-color-1: #323232;
$primary-background-color-2: #000000;
$primary-text-color-1: #ffffff;
$primary-text-color-2: #afafaf;
$alternative-background-color-1: #fafafa;
$outline-color: #e1e1e1;
