@use "./variables" as *;

@mixin paragraph {
  margin: 0;
  line-height: 1.5rem;
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
@mixin heroOverlay {
  background-color: $primary-background-color-1;
  opacity: 50%;
}
@mixin greyScaleHover {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
  &:hover {
    filter: grayscale(0);
  }
}

// @mixin nav-bar-links {
//   font-size: 1.3125rem;
//   font-weight: 300;
//   text-decoration: none;
//   text-transform: uppercase;
//   padding: 0.125rem 0.625rem 0.125rem 0.625rem;
//   display: inline-block;
//   font-weight: 400;
// }
